<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shamal Notepad</title>
    <link rel="icon" href="logo/Shamal-notepad.png" type="image/icon type">
</head>
<body>
<h1>User registration</h1>
<fieldset>
    <legend>User registration card</legend>
    <label>E-mail
        <input type="email" required placeholder="hotmail@exchange.com">
    </label>
    <br>
    <label>Login
        <input type="text" required placeholder="Enter your login">
    </label>
    <br>
    <label>Password
        <input type="password" required placeholder="Enter your password">
    </label>
    <br>
    <label>Enter your password again
        <input type="password" required placeholder="Enter your password again">
    </label>
    <br>
    <button type="submit">Register</button>
</fieldset>
</body>
</html>